@page "/ingredients"
@inject IngredientService IngredientService
<PageTitle>Innehåll</PageTitle>

<h1>Innehåll</h1>

<p role="status"></p>
<div class="add-ing">
    <input placeholder="Lägg till ingredienser" @bind="NewIngredientString" @oninput="HandleInput" @onkeydown="AddIngredients" />
    <input placeholder="Lägg till kalorier (/100g)" @bind="NewCalorie" @oninput="HandleInputCalorie" @onkeydown="AddCalorie" />
    <input placeholder="Lägg till mängd (g)" @bind="NewAmount" @oninput="HandleInputAmount" @onkeydown="AddAmount" />
    <input placeholder="Portioner" @bind="NewPortion" @oninput="HandleInputPortion" @onkeydown="AddPortion" />
</div>
<div class="ingredient-row">
    <span>@NewIngredient.Name</span>
    <span>@NewIngredient.ShowCalories</span>
    <span>@NewIngredient.ShowAmount</span>
    <span>@NewIngredient.ShowPortions</span>
    <span>@NewIngredient.ShowPerPortions</span>
</div>
<div>
    @foreach (var (ingredient, index) in IngredientsList.Select((ingredient, index) => (ingredient, index)))
    {
        <div class="ingredient-row @GetRowClass(index)" @onclick="() => SetIndex(index)">
            <span>@ingredient.Name</span>
            <span>@ingredient.ShowCalories</span>
            <span>@ingredient.ShowAmount</span>
            <span>@ingredient.ShowPortions</span>
            <span>@ingredient.ShowPerPortions</span>
        </div>
    }
</div>

<div class="ingredient-row">
    <h4>Totalt:</h4>
    <span>@($"{TotalCalories} Kcal")</span>
    <span>@($"{TotalAmount} g")</span>
    <span>@($"{TotalPortion} st")</span>
    <span>@($"{Math.Floor((TotalPerPortion ?? 0)):F0} Kcal/Portion")</span>
</div>


@code {
    private List<Ingredients> IngredientsList = new List<Ingredients>();
    //private List<Ingredients> IngredientsList2 = new List<Ingredients>();
    private Ingredients NewIngredient = new();
    private string? NewIngredientString;
    private float? NewCalorie;
    private float? NewAmount;
    private float? TotalCalories = 0;
    private float? TotalAmount = 0;
    private float? TotalPortion = 0;
    private float? TotalPerPortion = 0;
    private int? NewPortion;
    private int Index = 0;

    //Requests
    protected override async Task OnInitializedAsync()
    {
        IngredientsList = await IngredientService.GetIngredientsAsync();
    }

    private async Task AddIngredient()
    {
        await IngredientService.AddIngredientAsync(NewIngredient);
        IngredientsList = await IngredientService.GetIngredientsAsync();

        UpdateTotal(NewIngredient.Portions);
        NewIngredient = new Ingredients();
    }

    private void SetIndex(int index)
    {
        Index = index;
    }
    private string GetRowClass(int index)
    {
        return index == Index ? "selected-row" : string.Empty;
    }

    private void HandleInput(ChangeEventArgs e)
    {        
        NewIngredientString = e.Value.ToString();

    }
    private void HandleInputCalorie(ChangeEventArgs e)
    {
        if (float.TryParse(e.Value.ToString(), out float result))
        {
            NewCalorie = result;            
        }
    }
    private void HandleInputAmount(ChangeEventArgs e)
    {
        if (float.TryParse(e.Value.ToString(), out float result))
        {
            NewAmount = result;
        }
    }
    private void HandleInputPortion(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int result))
        {
            NewPortion = result;
        }
    }

    private void AddIngredients(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (!string.IsNullOrWhiteSpace(NewIngredientString))
            {
                NewIngredient = (new Ingredients
                    {
                        Name = NewIngredientString,
                        Calories = 0,
                        Amount = 0,
                        Portions = 0,
                        perPortion = 0
                    });
                //AddIngredient();
                NewIngredientString = string.Empty;
                Index = IngredientsList.Count - 1;
            }
        }

    }
    private void AddCalorie(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (NewCalorie.HasValue)
            {
                NewIngredient.Calories = NewCalorie;
                //IngredientsList[Index].Calories = NewCalorie;
                NewIngredient.ShowCalories = $"{NewCalorie} Kcal/100g";
                NewCalorie = null;
                //UpdateTotal(NewIngredient.Portions);
            }
        }
    }
    private void AddAmount(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            NewIngredient.Amount = NewAmount;
            //IngredientsList[Index].Amount = NewAmount;
            NewIngredient.ShowAmount = $"{NewAmount} g";
            NewAmount = null;
            //UpdateTotal(IngredientsList[Index].Portions);
        }
    }
    private void AddPortion(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            // Ingredients Ing = IngredientsList[Index];
            // NewIngredient.Portions = NewPortion;
            NewIngredient.Portions = NewPortion;
            NewIngredient.ShowPortions = $"{NewPortion} st";
            if (NewIngredient.Amount.HasValue && NewIngredient.Calories.HasValue && NewIngredient.Portions.HasValue)
                {
                    NewIngredient.perPortion = (NewIngredient.Amount / 100) * NewIngredient.Calories / NewIngredient.Portions;
                    NewIngredient.ShowPerPortions = $"{Math.Floor((NewIngredient.perPortion ?? 0)):F0} Kcal/Portion";                    
                }
            AddIngredient();
        }
    }

    private void UpdateTotal(int? portions)
    {
            TotalCalories = TotalAmount = TotalPerPortion = 0;
            foreach (Ingredients i in IngredientsList)
            {
                TotalCalories += i.Calories;
                TotalAmount += i.Amount;
                TotalPerPortion += i.perPortion;
            }
            TotalPortion = portions;        
    }
}
